<div class="about">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile>
  <div>
<img class="img-fluid" src="src/assets/imgs/child.png">
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
  <div class="para">
    <p class="text-maxi">For who?</p>
    <p class="text-mini">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries,
    </p>
  </div>
    </mat-grid-tile>
   </mat-grid-list>
</div>
<div style="width: 100%; float: right; "></div>
