.img-fluid{
  margin-top: 20%;
  margin-left: 3%;

  width: 100%;
  height: 100%;

}


.text-maxi{
  text-align: left;
  font-size: 250%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: #58a4b0;
}
.text-mini {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}

.para{
  margin-top: 5%;
  margin-left: 2%;
  width: 80%;

}
.about{

}



