
<link href="https://fonts.googleapis.com/css?family=Quicksand:light" rel="stylesheet">
<div class="box">
<div class="para">
<p class="text-maxi">What is STEM fun?</p>
<p class="text-mini">STEM fun is android mobile application made for children(7-12 years old) and youth
  (13-18 years old). We combined fun games and amazing questions all about STEM fields.
  You can pass levels only if you play one of 4 different games and answer one of more
  than 300 questions.
  Come and join our digital revolution. Download STEM fun on Google Play Store now!
  STEM fun is android mobile application made for children(7-12 years old) and youth
  (13-18 years old). We combined fun games and amazing questions all about STEM fields.
  You can pass levels only if you play one of 4 different games and answer one of more
  than 300 questions.
  Come and join our digital revolution. Download STEM fun on Google Play Store now!</p>
</div>
  <div >
  <img class="img-phone" src="src/assets/imgs/screen.png">
  </div>
</div>
