<mat-grid-list [cols]="4">
  <mat-grid-tile>
    <div class="container-box">
    <img src="src/assets/planet-asset/science.png">
    <p class="text-maxi">SCIENCE</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container-box">
    <img src="src/assets/planet-asset/tech_icon.png">
    <p class="text-maxi">TECHNOLOGY</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container-box">
    <img src="src/assets/planet-asset/engineering.png">
      <p class="text-maxi">ENGINEERING</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="left: 0">
    <div class="container-box">
    <img src="src/assets/planet-asset/math.png">
    <p class="text-maxi">MATHEMATICS</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<p class="text-mini">
  STEM is group of very popular fields. Lorem Ipsum is simply dummy text of the
  printing and typesetting industry. Lorem Ipsum has been the industry's standard
  dummy text ever since the 1500s, when an unknown printer took a galley of type
  and scrambled it to make a type specimen book. It has survived not only five
</p>
