.num{
  text-align: left;
  font-size: 250%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: #58a4b0;
}
.content{
  margin-top: 1%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}


