.num{
  text-align: left;
  font-size: 250%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: #1fb2fc;
}
.content{
  margin-top: 1%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}

.spacer{
  margin-top: 20%;
  width: 100%;
}

