<link href="https://fonts.googleapis.com/css?family=Quicksand:light" rel="stylesheet">
<p class="text-maxi" style="text-align: center"> Team</p>
<mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)">

  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img class="img-avatar" src="src/assets/team-assets/lejla.jpg">
        <h1 class="text-maxi">Lejla Omerovic</h1>
        <h3 class="text-mini">Founder, UX/UI Designer</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img class="img-avatar" src="src/assets/team-assets/ajdin.jpg">
        <h1 class="text-maxi">Ajdin Ahmetovic</h1>
        <h3 class="text-mini">Software developer</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img class="img-in" style="height: 85%; width: 89%; text-align: center;" src="src/assets/team-assets/ines.jpg">
        <h1 class="text-maxi">Ines Madzak</h1>
        <h3 class="text-mini">Content creator</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img class="img-avatar" src="src/assets/team-assets/selma.png">
        <h1 class="text-maxi">Selma Kovacevic</h1>
        <h3 class="text-mini">Designer</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>


