.img-avatar {
  width: 100%;
  height: 100%;
}

.text-maxi{
  text-align: left;
  font-size: 200%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: #6f0000;
}

.text-mini {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}
